
#spinner{
  margin-top: 150px;
}


#input-container{
  display: flex;
 
  justify-content: center;
  /* align-items: center; */
  margin:30px 0 10px 0;
}
#dialog1{
    height: 100%;
    width:100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
  
    
}

#dialog-container{
 
  position: absolute; 
   top:400px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 

}


#edit-container{
 background-color:white;
   height:400px;
  width: 450px;
  /* max-width:350px; */
  box-shadow:0 0 10px black;
  border-radius:10px;
  position: absolute;
}

.button{
  height:40px;
  width:90px;
  border:none;
  border-radius:10px;
  background-color:rgb(36, 168, 36);
  color:white;
  font-size:1.2rem;
  /* display:block; */
  /* margin: auto; */
  margin-top:40px;

} 



#editbtn{
  width: 50px;
 
}

#createbtn{
  background-color:rgb(38, 198, 38);
  color: white;
  font-size: 1.2rem;
  height:40px;
  display: flex;
  align-items: center;
  padding: 0%;
  justify-content: center;
}

@media only screen and (max-width:780px) {
   #input-container{
     display:flex;
     flex-direction: column;
     gap:10px;
     align-items:first baseline;
   } 

   #createbtn{
    width:100%;
    text-align: center;
   }

   #edit-container{
    width: 350px;
  
   }
}

@media only screen and (max-width:390px) {
 #edit-container{
    width: 300px;
  
   }

}