*{
padding: 0;
margin:0;
box-sizing: border-box;
}


#navbar{
    height: 50px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    background-color: beige;
    box-shadow: 5px 0 3px black;
}

#nav-group{
    width: 100% !important;
    list-style-type: none;
   
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    font-weight: bold;
    
}

#logout{
    display: flex;
    align-items: center;
}

#logout-icon{
    font-size: 1.7rem;
    position: absolute;
    right: 20px;
}